In [1]:
import os, sys
%pwd

'd:\\Real Project Implementation\\Bank-Term-Deposit-Prediction\\research'

In [2]:
os.chdir("../")
%pwd

'd:\\Real Project Implementation\\Bank-Term-Deposit-Prediction'

In [4]:
from pathlib import Path
import pandas as pd

In [7]:
df = pd.read_csv("artifacts/data_ingestion/train.csv")

In [8]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [9]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [11]:
print(min(df['campaign']))
print(max(df['campaign']))

1
63

In [12]:
print(min(df['pdays']))
print(max(df['pdays']))

-1
871

In [13]:
print(min(df['previous']))
print(max(df['previous']))

0
275

In [14]:
print(min(df['day']))
print(max(df['day']))

1
31

In [15]:
print(min(df['balance']))
print(max(df['balance']))

-8019
102127

In [16]:
print(min(df['age']))
print(max(df['age']))

18
95

In [17]:
df['job'].value_counts()

job
blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: count, dtype: int64

In [18]:
df['marital'].value_counts()

marital
married     27214
single      12790
divorced     5207
Name: count, dtype: int64

In [19]:
df['education'].value_counts()

education
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: count, dtype: int64

In [20]:
df['default'].value_counts()

default
no     44396
yes      815
Name: count, dtype: int64

In [21]:
df['housing'].value_counts()

housing
yes    25130
no     20081
Name: count, dtype: int64

In [22]:
df['contact'].value_counts()

contact
cellular     29285
unknown      13020
telephone     2906
Name: count, dtype: int64

In [23]:
df['month'].value_counts()

month
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: count, dtype: int64

In [24]:
df['poutcome'].value_counts()

poutcome
unknown    36959
failure     4901
other       1840
success     1511
Name: count, dtype: int64